* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  position: relative;
}
.header {
  border-bottom: 1px solid #dbdbdb;
  background-color: #fff;
}

.logo {
  width: 150px;
  height: 24px;
  margin: 38px 0 38px 162px;
}
.section-one-div {
  margin-top: 64px;
  margin-bottom: 29px;
}
.go-back-btn {
  background-color: inherit;
  border: none;
}
.go-back-btn:hover {
  cursor: pointer;
}
.go-back-img {
  height: 32px;
  width: 32px;
}
.left-photo-div {
  position: relative;
  width: 839px;
}
.is_rental-on-photo {
  background-color: rgba(2, 21, 38, 0.5);
  padding: 6px;
  border-radius: 20px;
  width: 142px;
  font-family: "FiraGO";
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  top: 41px;
  left: 41px;
  position: absolute;
}
.main-img {
  width: 839px;
  height: 670px;
  border-radius: 14px 14px 0 0px;
}
.publish-date {
  text-align: end;
  font-family: "FiraGO";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;

  color: rgba(128, 138, 147, 1);
}
.section-one {
  max-width: 1591px;
  margin: 0 auto;
}
.main-info-div {
  display: flex;
  gap: 68px;
}
/* ////////////////////////////////////////////////////////////////// */

.price-div {
  margin: 30px 0 24px 0;
}
.price-span {
  font-family: "FiraGo", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 33.6px;
  text-align: left;
}
.right-photo-div {
  /* width: 503px; */
}
.address-div {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8px;
}
.address-div {
  margin-bottom: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8px;
}
.city-span {
  font-family: "FiraGO";
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  color: rgba(128, 138, 147, 1);
}
.rest-info-each {
  margin-bottom: 16px;
}
.description {
  width: 503px;
  margin: 24px 0 50px 0;
}
.description-para {
  font-family: "FiraGO", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
}
.agent-info-div {
  border-radius: 8px;
  margin-bottom: 20px;
  border: 1px solid rgba(219, 219, 219, 1);
  padding: 24px 20px 24px 20px;
  width: 503px;
}
.agent-photo-and-next {
  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: start;
  margin-bottom: 16px;
}
.agent-photo {
  width: 72px;
  height: 72px;
  border-radius: 100px;
}
.name-lastname {
  font-family: "FiraGO", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  color: rgba(2, 21, 38, 1);
}
.agenti {
  font-family: "FiraGO", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  color: rgba(103, 110, 118, 1);
}
.email-text {
  font-family: "FiraGO", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  color: rgba(128, 138, 147, 1);
}
.img-photos-icon {
  width: 16px;
  height: 13px;
  margin-right: 5px;
}
.listing-delete-btn {
  border: none;
  border: 1px solid rgba(103, 110, 118, 1);
  background-color: inherit;
  padding: 10px;
  border-radius: 8px;
  font-family: "FiraGO", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.4px;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.listing-delete-btn:hover {
  background-color: rgba(128, 138, 147, 1);
  color: rgba(255, 255, 255, 1);
}
.similar-appt {
  margin: 53px 0 52px 0;
  font-family: "FiraGO", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 38.4px;
  text-align: left;
  color: rgba(2, 21, 38, 1);
}
.each-card {
  width: 384px;
}
.top-part {
  position: relative;
  height: 307px;
  width: 384px;
}
.is_rental {
  position: absolute;
  border-radius: 15px;
  width: 90px;
  background-color: rgba(2, 21, 38, 0.5);
  padding: 6px;
  top: 23px;
  left: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.is_rental-span {
  font-family: "FiraGo", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.4px;
  letter-spacing: 0.04em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
.image {
  border-radius: 14px, 14px, 0px, 0px;
  height: 307px;
  width: 384px;
}
.bottom-info-div {
  padding: 22px 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: rgba(219, 219, 219, 1);
  border-radius: 0 0 14px 14px;
}
.price-div {
  margin-bottom: 6px;
}
.price-span {
  font-family: "FiraGo", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 33.6px;
  text-align: left;
}
.address-div {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8px;
}
.location-icon {
  height: 20px;
  width: 20px;
}
.city-span {
  font-family: "FiraGo", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: rgba(2, 21, 38, 0.7);
}
.rest-info-div {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
}
.rest-info-each {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2.5px;
}
.bed-icon {
  height: 24px;
  width: 24px;
}
.area-icon {
  height: 18px;
  width: 18px;
}
.zip-icon {
  height: 16px;
  width: 18px;
}
.all-three-span {
  font-family: "FiraGo", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: rgba(2, 21, 38, 0.7);
}
/* ///////////////////////////////////////////////////// */
.same-region-div {
  max-width: 1596px;
  margin: 0 auto;
  overflow: hidden;
}

.slider-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.each-card {
  width: 25%;
  flex-shrink: 0;
}

.regions-main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

button {
  padding: 10px;
  cursor: pointer;
}
.right-click,
.left-click {
  background-color: inherit;
  border: none;
}
button:hover {
  cursor: pointer;
}
.same-region-cards {
  margin-bottom: 228px;
}

.delete-listing {
  position: fixed;
  width: 623px;
  height: 222px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  box-shadow: 5px 5px 12px 0px rgba(2, 21, 38, 0.08);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  justify-content: center;
  align-items: center;
}
.heading-delete {
  font-family: "FiraGO", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgba(45, 54, 72, 1);
}

.two-btns {
  border: none;
  background-color: inherit;
  padding: 10px 16px;
  border-radius: 10px;
}
.two-btns:hover {
  cursor: pointer;
}
.cancelBtn {
  border: 1px solid rgba(249, 59, 29, 1);
  font-family: "FiraGO";
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  text-align: center;
  color: rgba(249, 59, 29, 1);
}
.approveBtn {
  background-color: rgba(249, 59, 29, 1);
  font-family: "FiraGO";
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
.cancelBtn:hover {
  color: #fff;
  background-color: #f93b1d;
}
.approveBtn:hover {
  background-color: #df3014;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(2, 21, 38, 0.34);
  z-index: 500;
}
.hidden {
  display: none;
}
